<table id="poll_result" class="table">
  <tr>
    <th>選択肢</th>
    <th>スコア</th>

    <% poll.votes.default_order.each do |vote| %>
      <th>
        <%= link_to vote.user_name, edit_poll_vote_path(poll, vote), data: {turbo_frame: "vote_form"} %>
      </th><%# TODO: クリックしたらスクロールするようにする(autoscroll) %>
    <% end %>
  </tr>

  <% poll.choices.sort_by(&:score).each do |choice| %>
    <tr>
      <th><%= choice.title %></th>
      <td>
        <%= choice.score %>
      </td>
      <% poll.votes.default_order.each do |vote| %>
        <td>
          <%= vote.vote_details.find_by(choice: choice)&.position %>
        </td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <th>コメント</th>
    <td></td>

    <% poll.votes.default_order.each do |vote| %>
      <td>
        <%= vote.comment %>
      </td>
    <% end %>

  </tr>
</table>
