<%= turbo_stream_from @poll %>
<h2 class="page-heading">「<%= @poll.title %>」の投票結果</h2>

<%= render 'result', poll: @poll %>

<%= link_to "投票を作成",
            new_poll_vote_path(@poll),
            class: "btn btn-primary",
            data: { turbo_frame: "vote_form" } %>
<div class="mt-4">
  ⬅️ <%= link_to '選択肢登録画面へ戻る', [@poll, :choices] %>
</div>

<%# TODO: layouts/application.html.erb に移動するなどして共通化したい %>
<div data-controller="modal"
     data-action="turbo:frame-load->modal#show turbo:submit-end->modal#hide">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-modal-target="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <%= turbo_frame_tag "vote_form", autoscroll: true, data: { autoscroll_behavior: 'start' } do %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
