<h1>投票さん</h1>

<h2>「<%= @poll.title %>」</h2>

<ul>
  <% @poll.choices.each do |choice| %>
    <li><%= choice.title %></li>
  <% end %>
</ul>

<% @poll.votes.each do |vote| %>
  <p>
    <%= vote.user_name %>
  </p>
  <p>
    <%= vote.comment %>
  </p>
  <hr>
<% end %>

<%= link_to '投票を作成', new_poll_vote_path(@poll) %>
