<h1>投票さん</h1>

<h2>「<%= @poll.title %>」</h2>

<ul>
  <% @poll.choices.default_order.each do |choice| %>
    <li><%= choice.title %></li>
  <% end %>
</ul>

<% @poll.votes.default_order.each do |vote| %>
  <p>
    <%= vote.user_name %>
  </p>
  <p>
    <% vote.vote_details.choice_order.each do |vd| %>
      <p>
        <%= vd.choice.title %>:
        <%= vd.status %>
      </p>
    <% end %>
  </p>
  <p>
    <%= vote.comment %>
  </p>
  <hr>
<% end %>

<%= link_to '投票を作成', new_poll_vote_path(@poll) %>
