<%= turbo_frame_tag "vote_form" do %>
  <%= turbo_stream_from "#{poll.id}-new-vote" if vote.new_record? %>
  <%= turbo_stream_from vote if vote.persisted? %>

  <h1 class="vote-form-heading">「<%= poll.title %>」に投票</h1>
  <div class="callout callout-primary">
    投票者名を入力し、選択肢をドラッグ＆ドロップしてください。
  </div>

  <%= bootstrap_form_for [poll, vote], html: { id: "vote-form" }, data: { controller: 'autosubmit', action: 'draggable:sorted->autosubmit#submit' } do |f| %>
    <%= f.text_field :user_name %>

    <%= render 'polls/votes/vote_details', poll:, vote: %>

    <div data-controller="markdown-preview">
<!--      <label>-->
<!--        <input type="checkbox" data-action="markdown-preview#toggle">-->
<!--        プレビュー-->
<!--      </label>-->
      <%= f.text_area :comment, data: {
        controller: 'textarea-autosize',
        markdown_preview_target: 'editor',
        action: 'input->markdown-preview#update'
      } %>
      <div id="markdown-preview" data-markdown-preview-target="preview">
        <p>hoge</p>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-between">
    <% label = vote.new_record? ? t('helpers.submit.create') : t('helpers.submit.update') %>
    <%= button_tag label, type: :submit, form: 'vote-form', class: 'btn btn-primary' %>
    <% if vote.persisted? %>
      <%= button_to '🗑️', [poll, vote], method: :delete, class: 'btn btn-sm', data: { turbo_confirm: '削除してもよろしいですか？' } %>
    <% end %>
  </div>
<% end %>
