<%= turbo_frame_tag "vote_form" do %>
  <%= turbo_stream_from "#{poll.id}-new-vote" if vote.new_record? %>
  <%= turbo_stream_from vote if vote.persisted? %>

  <h1 class="vote-form-heading">「<%= poll.title %>」に投票</h1>
  <div class="callout callout-primary">
    投票者名を入力し、選択肢をドラッグ＆ドロップしてください。
  </div>

  <div data-controller="markdown-preview">
    <%= bootstrap_form_for [poll, vote], data: { controller: 'autosubmit', action: 'draggable:sorted->autosubmit#submit' } do |f| %>
      <%= f.text_field :user_name %>

      <%= render 'polls/votes/vote_details', poll:, vote: %>
      <%= f.text_area :comment, data: {
        controller: 'textarea-autosize',
        markdown_preview_target: 'editor',
        action: 'input->markdown-preview#update'
      } %>
      <div id="markdown-preview" data-markdown-preview-target="preview">
        <p>hoge</p>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>

    <%= form_with url: markdown_preview_path, data: { markdown_preview_target: 'previewForm' } do |preview_form| %>
      <%= preview_form.hidden_field :text, data: { markdown_preview_target: 'previewFormInput' } %>
    <% end %>
  </div>
<% end %>
