<%= turbo_frame_tag "vote_form" do %>
  <%= turbo_stream_from "#{poll.id}-new-vote" if vote.new_record? %>
  <%= turbo_stream_from vote if vote.persisted? %>

  <h1 class="vote-form-heading">「<%= poll.title %>」に投票</h1>

  <%= bootstrap_form_for [poll, vote], data: { controller: 'autosubmit', action: 'draggable:sorted->autosubmit#submit' } do |f| %>
    <%= f.text_field :user_name %>

    <%= render 'polls/votes/vote_details', poll:, vote: %>

    <%= f.text_area :comment, data: {controller: 'textarea-autosize'} %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
<% end %>
