<%= fields model: [poll, vote] do |f| %>
  <ul data-controller="draggable" class="vote-list">
    <%= f.fields_for :vote_details do |vdf| %>
      <li class="StackedListItem--isDraggable">
        <%= vdf.object.choice.title %>
        <%= vdf.hidden_field :choice_id %>
        <%= vdf.hidden_field :position, 'data-draggable-target': 'position' %>
      </li>
    <% end %>
  </ul>
<% end %>