<h1>「<%= @poll.title %>」の投票を作成</h1>

<%= bootstrap_form_for [@poll, @vote] do |f| %>
  <%= f.text_field :user_name %>
  <%= f.text_area :comment %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
