<!DOCTYPE html>
<html>
  <head>
    <title>Touhyosan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <!-- https://github.com/ruby/ruby.wasmを参照 -->
    <script src="https://cdn.jsdelivr.net/npm/ruby-3_2-wasm-wasi@1.0.1/dist/browser.script.iife.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="flash">
      <%= notice %>
    </div>
    <div class="p-5">
      <%= yield %>
    </div>
  </body>
</html>
