<!DOCTYPE html>
<html>
  <head>
    <title>Touhyosan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="flash" class="position-fixed top-0 end-0" style="margin: 0.75rem">
      <%= notice %>
    </div>
    <div class="p-5">
      <%= yield %>
    </div>
  </body>
</html>
