<!DOCTYPE html>
<html>
  <head>
    <title>投票さん by Hotwire.love</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="flash" class="position-fixed top-0 end-0" style="margin: 0.75rem">
      <%= notice %>
    </div>
    <div class="p-5">
      <h1>
        <%= image_tag 'touhyosan.jpg', size: '48x48' %>
        投票さん
      </h1>

      <%= yield %>
    </div>
  </body>
</html>
